* {
  list-style: none;
  text-decoration: none;
  font-family: "Rock Salt", cursive;
}
.col-center {
  float: none;
  margin: 0 auto;
}

.info {
  line-height: 1rem;
}

.fa-arrow-circle-left {
  font-size: 2.2rem;
  color: white;
}

.line-height {
  line-height: 1.5rem;
}

.color {
  background-color: orange;
  // background-image: url("./background.png");
}
